.card-font-style p{
	font-size:20px !important;
}


.header .col {
  background-color:lightgrey;
}

.row {
	border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

