<script id="home" type="text/ng-template">
<ion-view view-title="Home">
<ion-pane>
<ion-content class="center" ng-controller="FindPartnerCtrl">
      <div class="row">
        <div class="col">
        <form>
          <label class="item item-input">
    <input type="number" placeholder="Numero de usuario">
  </label>
          <button type="submit"class="button button-positive button-full icon ion-start">buscar</button>
        </form>
        <br>
        {{message}}
      </div>
      </div>
      </ion-content>
</ion-pane>
</ion-view>
</script>