<ion-view title="Información del socio">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="PartnerInfoCtrl">
        <div class="list card">
            <div class="item item-divider">Socio</div>
            <div class="item item-body">
                <div>
                    <center><div class="card-font-style"><p>ID: {{partnerInfo.ID}} </p>
                      <br>
                      <p>Numero: {{partnerInfo.NumeroSocio}}</p>
                        <br><p>Nombre: {{partnerInfo.Nombre}}</p>
                    </div></center>                
                  </div>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 39px;"></div>
        <div ng-repeat="day in retreivedDays">
          <a class="button button-balanced button-block  icon-left ion-information-circled" ng-click="rutinasDia({{day.DIA}})">Dia {{day.DIA}}</a>
          </div>
    </ion-content>
</ion-view>