<ion-view title="Información del socio">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="PartnerInfoCtrl">
        <div class="list card">
            <div class="item item-divider">Socio</div>
            <div class="item item-body">
                <div>
                    <center><div><p>ID: {{partnerInfo.id}} </p>
                      <br>
                      <p>Numero: {{partnerInfo.numeroSocio}}</p>
                        <br><p>Nombre: {{partnerInfo.nombre}}</p>
                    </div></center>                
                  </div>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 39px;"></div>
        <div ng-repeat="day in days">
          <input type="hidden" value="day" ng-model="num">
          <a class="button button-balanced button-block  icon-left ion-information-circled" ng-click="rutinasDia({{day.dia}})">Dia {{day.dia}}</a>
          </div>
    </ion-content>
</ion-view>