<ion-view title="Rutinas del día ">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="RoutinesCtrl">
        <div class="list card">
            <div class="item item-divider">Socio</div>
            <div class="item item-body" ng-controller="PartnerInfoCtrl">
            	<center><div class="card-font-style"><p>ID: {{partnerInfo.ID}} </p>
                      <br>
                      <p>Numero: {{partnerInfo.NumeroSocio}}</p>
                        <br><p>Nombre: {{partnerInfo.Nombre}}</p>
                    </div></center>
            </div>
        </div>
        <div class="spacer" style="width: 283px; height: 28px;"></div>
        <div class="row header">
        	<div class="col">
        		<b>Grupo</b>
        	</div>
        	<div class="col">
        		<b>Ejercicios</b>
        	</div>
        	<div class="col">
        		<b>Repeticiones</b>
        	</div>
        	<div class="col">
        		<b>Series</b>
        	</div>
        </div>
        <div class="row" ng-repeat="routine in routines">
          <div class="col">{{routine.Grupo}}</div>
          <div class="col">{{routine.DescripcionMaquina}}</div>
          <div class="col">{{routine.Series}}</div>
          <div class="col">{{routine.Repeticiones}}</div>
        </div>
    </ion-content>
</ion-view>